h1 {
	font-family: arial, verdana, sans-serif;
	background-color: black;
	color: white;
	font-size: 100px;
}

p {
	font-family: georgia, serif;
	font-size: 200%;
	font-variant: normal;
	font-style: italic;
	line-height: 50px;
}